
.wrapper {
    top:0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #070b34;
    font-family: 'Lobster', cursive;
    min-height: 5vh;
    color: #FFFBC8;
    border-style: groove;
    // opacity: 50%;
}

.logo {
    position: relative;
    display: block;
    margin: 1rem;
    width: 4vh;
    height: 4vh;
    background-color: transparent;
    box-shadow: inset -12px 5px 0 3px #f3d076;
    border-radius: 50%;
    transform: rotate(65deg);
    border: none;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}
